<!doctype html>
<html>
<head th:replace="~{fragments/head :: head}"></head>
<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>

<!-- <Feed> -->
<section class="section">
  <div class="container is-max-desktop">
    <div class="columns">

      <div th:replace="~{fragments/pinboard :: pinboard}"></div>

      <!-- <PinDetail> -->
      <div class="column is-7">
        Comments will go here eventually!
      </div>
      <!-- <PinDetail /> -->
    </div>
  </div>
</section>
<!-- <Feed /> -->
</body>
</html>

